{% extends "layouts/base.html" %}

{% block content %}
  <h1>
    {{ cook.username }}
    <a href="{% url 'kitchen:cook-delete' pk=cook.id %}" class="btn btn-danger link_to_page">
      Delete
    </a>

    <a href="{% url 'kitchen:cook-update' pk=cook.id %}" class="btn btn-secondary link_to_page">
      Update
    </a>
  </h1>
  <p><strong>Cooks username:</strong> {{ cook.username }}</p>
  <p><strong>Cooks first name:</strong> {{ cook.first_name }}</p>
  <p><strong>Cooks last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Cooks e-mail:</strong> {{ cook.email }}</p>
  <p><strong>Year of experience:</strong> {{ cook.year_of_experience }}</p>
  <hr>
{% endblock %}
