{% extends "layouts/base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block content %}


  <!-- -------- START HEADER 1 w/ text and image on right ------- -->

  <header>
    <div class="page-header section-height-100">

    <!-------------image--------------------------------------------->

      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
             style="background-image:url({{ ASSETS_ROOT }}/img/cooks/cook_delete.png);
                     background-size: auto;
                     background-repeat: no-repeat;
                     background-position: center">
        </div>
      </div>
  <!------------------end image------------------------------>
      <!--------------Container ------------------------------>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
            <h1 class="text-gradient text-primary">Delete cook:</h1>
            <h3>"{{ cook.username }}" ?</h3>
            <!---------------------dynamic content------------------>
            <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Yes" class="btn btn-danger">
              <a href="{% url 'kitchen:cook-detail' pk=cook.id %}"
                 class="btn btn-success cancel-link ">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
<!-- -------- END HEADER 1 w/ text and image on right ------- -->
