{% extends "layouts/base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block content %}


  <!-- -------- START HEADER 1 w/ text and image on right ------- -->
  <!-------------image--------------------------------------------->
  <header>
    <div class="page-header section-height-100">

      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
             style="background-image:url({{ ASSETS_ROOT }}/img/restaurant/delete-2.jpg)"></div>
      </div>
      <!------------end image------------------------------->
      <!----------------------container ------------------------------>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
            <h1 class="text-gradient text-primary">Delete dish:</h1>
            <h3>"{{ dish.name }}" ?</h3>
            <!------------------dynamic content------------------>
            <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Yes" class="btn btn-danger">
              <a href="{% url 'kitchen:dish-detail' pk=dish.id %}"
                 class="btn btn-success cancel-link ">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
<!-- -------- END HEADER 1 w/ text and image on right ------- -->
