{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dishes List
    <a href="{% url "kitchen:dish-create" %}" class="btn btn-primary link_to_page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="input-group mt-3">
    {{ dish_search_form|crispy }}
    <input type="submit" class="btn btn-secondary search_button" value="🔍">
  </form>

  {% if dish_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish in dish_list %}

        <tr>
          <td>{{ dish.id }}</td>
          <td><a href="{% url 'kitchen:dish-detail' pk=dish.pk %}">{{ dish.name }}</a></td>
          <td>{{ dish.ingredient_total_cost }}</td>
          <td>{{ dish.descriptions }}</td>
          <td>
            <a href="{% url "kitchen:dish-update" pk=dish.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url "kitchen:dish-delete" pk=dish.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no dish in the service.</p>
  {% endif %}
{% endblock %}