
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-12 mb-4  text-center">
          <div>
            <h6 class="text-gradient text-primary font-weight-bolder">Restaurant Kitchen Service</h6>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Restaurant Kitchen Service-Coded by Roman Harmatiuk
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
