{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish Type List
    <a href="{% url "kitchen:dish-type-create" %}"  class="link_to_page btn btn-primary ">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ dish_type_search_form|crispy }}
    <input  type="submit" class="btn btn-secondary search_button" value="🔍">
  </form>
  {% if dishtype_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish_type in dishtype_list %}
        <tr>
          <td>
            {{ dish_type.id }}
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">{{ dish_type.name }}</a>
          </td>
          <td>
            <a href="{% url "kitchen:dish-type-update" pk=dish_type.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url "kitchen:dish-type-delete" pk=dish_type.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no dish types in the service.</p>
  {% endif %}
{% endblock %}
