{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Ingredients List
    <a href="{% url "kitchen:ingredients-create" %}" class="btn btn-primary link_to_page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ ingredients_search_form|crispy }}
    <input type="submit" class="btn btn-secondary search_button" value="🔍">
  </form>
  {% if ingredients_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for ingredient in ingredients_list %}
        <tr>
          <td>
            {{ ingredient.id }}
          </td>
          <td>
            {{ingredient.name}}
          </td>
          <td>
            {{ ingredient.ingredient_cost }}
          </td>
          <td>
            <a href="{% url "kitchen:ingredients-update" pk=ingredient.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url "kitchen:ingredients-delete" pk=ingredient.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no dish types in the service.</p>
  {% endif %}
{% endblock %}