{% extends "layouts/base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block content %}


  <!-- -------- START HEADER 1 w/ text and image on right ------- -->
  <!-------------image--------------------------------------------->
  <header>
    <div class="page-header section-height-100">

      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
             style="background-image:url({{ ASSETS_ROOT }}/img/ingredients/ingredients_1.jpg)"></div>
      </div>
      <!--------------Container ------------------------------>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
            <h1 class="text-gradient text-primary">Ingredients List </h1>
            <!--------------------Search form-------------------->
            <form action="" method="get" class="input-group ">
              {{ ingredients_search_form|crispy }}
              <input type="submit" class="btn btn-secondary search_button " value="🔍">
              <!-------------------end search form-------------------->
              <div class="buttons">
                <button type="button" class="btn bg-gradient-info position-absolute top-0 end-0"><a
                    href="{% url "kitchen:ingredients-create" %}">Create</a>
                </button>
              </div>
            </form>

            <!------------------Data table------------------>
            <div>
              {% if ingredients_list %}
                <table class="table">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>

                  {% for ingredient in ingredients_list %}
                    <tr>
                      <td>
                        {{ ingredient.id }}
                      </td>
                      <td>
                        {{ingredient.name}}
                      </td>
                      <td>
                        {{ ingredient.ingredient_cost }}
                      </td>
                      <td>
                        <a style="color: #ffc107" href="{% url "kitchen:ingredients-update" pk=ingredient.id %}">
                          Update
                        </a>
                      </td>
                      <td>
                        <a style="color: red"
                           href="{% url "kitchen:ingredients-delete" pk=ingredient.id %}">
                          Delete
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </table>

              {% else %}
                <p>There are no ingredients in the service.</p>
              {% endif %}
            </div>
 <!--------Pagination---->
            {% block pagination %}
              {% include "includes/pagination.html" %}
            {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
<!-- -------- END HEADER 1 w/ text and image on right ------- -->
